* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(31, 88, 31);
    --secondary: rgb(56, 104, 56);
    --tertiary: rgb(116, 162, 116);
    --quaternary: rgb(222, 231, 222);
    --mainwidth: calc(100% - 15%);
}


body {
    font-family: 'Poppins', sans-serif;
}

nav img {
    display: inline;
    margin-top: 10px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--quaternary);
}

nav {
    width: var(--mainwidth);
    height: 100px;
    margin: 0 auto;
    background-color: var(--primary);
    border-bottom-left-radius: 10px;
    position: relative;
}

.name {
    font-weight: bold;
    color: var(--quaternary);
    text-decoration: none;
    position: absolute;
    top: 12px;
    left: 45px;
}

.profilename {
    margin-left: 10px;
    width: 150px;
    height: 50px;
}

nav ul li {
    list-style: none;
    display: inline;
    padding: 0px 20px;
    color: white;
}

nav ul {
    text-align: end;
    padding: 10px 10px;
}

.nav-headings {
    color: white;
    text-decoration: none;
}

header {
    width: var(--mainwidth);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-content: center;

}



.header-el>img {
    margin-top: 30px;
    width: calc(100% - 40%);
}

.header-el {
    width: calc(100%-400px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.header-el h1 {
    color: var(--secondary);
    text-align: center;
}



h2 {
    color: black;
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
    text-align: center;
}



.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--mainwidth);
    height: 100vh;
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
}

.mark-one {

    width: var(--mainwidth);
    height: 200px;
    margin: 0 auto;
    background-color: var(--quaternary);
    text-align: center;
    padding: 30px 20px;
    border-radius: 5px;
}


footer {
    width: var(--mainwidth);
    height: 120px;
    margin: 0px auto;
    margin-top: 30px;
    background-color: var(--primary);
    border-top-right-radius: 10px;
}

footer h3 {
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px 10px;
}


footer ul {
    list-style: none;
    color: white;
    text-align: center;
    margin-top: 20px;

}

footer li {
    display: inline;
    padding: 10px 10px;
}

button {
    width: 100px;
    margin: 10px 10px;
    padding: 8px 8px;
    border-radius: 15px;
}

.live-btn {
    color: white;
    background-color: var(--primary);

}

.project-btn {
    background-color: var(--quaternary);
    color: var(--primary);

}

.live {
    text-decoration: none;
    color: white;
}

.source {
    text-decoration: none;
    color: var(--primary);
}